body {
    background-color: azure;
}

h1 {
    text-align: center;
    top: 50px;
    margin: 50px;
}

.list li {
    list-style-type: none;
}

.list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 30px 30px;
    border: 5px double black;
    border-radius: 10px;
    background-color: green;
    font-size: 5ch;
}
